body {background-color: rgb(164, 240, 240);
       font-family: Times New Roman;
       background: linear-gradient(-45deg, #ee7752, #6d6ffc, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 30s ease infinite;
        
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
}
.cím {text-align: center;
      font-weight: bold;
      font-size: 80px;
      border: 15px solid rgb(120, 0, 168);
      border-radius: 10px;
      background-color: rgb(145, 204, 255);
      border-style: outset;
}
.bevezető {text-align: center;
           border: 3px solid purple;
           background-color:rgb(145, 204, 255) ;
           border-radius: 10px;
        
}
.alszöveg { border: 3px solid red;
            background-color: red;
            font-style: italic;
            color: white;
            text-align: center;
            border-radius: 30px;
            cursor: pointer;
            

}
.link1 {border: 4px solid aliceblue;
        background-color:aliceblue;
        text-align: center;
        font-size: 50px;
        border-radius: 10px;
}
.cicagomb {
    color:aqua;
    border: 5px solid aqua;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
    

    
}
.cicagomb:hover {
       font-size: 60px;
       color: #ff3c00;
       border: 30px solid #ff3c00 ;
       border-radius: 20px;
       border-style: outset;
}

.cicagif {
    position: absolute;
}

