body {background-color: rgb(164, 240, 240);
    font-family: Times New Roman;
    background: linear-gradient(-45deg, #ee7752, #6d6ffc, #23a6d5, #23d5ab);
     background-size: 400% 400%;
     animation: gradient 30s ease infinite;
     
 }
 
 @keyframes gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
}
.képek {text-align: center;}